<br><br><br><br><br><div class="sidebar-container">
    <!-- User Photo -->
    <div class="profile-section text-center">
      <img
        *ngIf="userProfile?.profile_picture"
        [src]="userProfile.profile_picture"
        alt="User Photo"
        class="profile-picture"
      />
      <p *ngIf="!userProfile?.profile_picture">No photo available</p>
  
      <!-- View Profile Link -->
      <a class="view-profile-link" href="#" routerLink="/profile">View Profile</a>
    </div>
  
    <!-- My Items Section -->
    <!-- My Items Button -->


  
    <!-- Log Out Button -->
    <button class="btn btn-danger w-100 mt-3" (click)="logOut()">Log Out</button>
  </div>
  